nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position:fixed;
    top: 0;
    z-index: 20;
    background-color: rgb(29, 37, 44);
}

.active{
   color:rgb(84, 219, 160);
   border-bottom: solid white;
}

nav  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: antiquewhite;
    list-style: none;
    
    
}

.list{
    cursor: pointer;
}
.list:hover{
       color:rgb(84, 219, 160);
   /* border-bottom: solid white; */
}
nav h1{
    font-size: 35px;
    background: linear-gradient(to right,rgb(67, 217, 231),white);
    background-clip: text;
    color: transparent;

}


.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-direction: column;
    display: none;
    cursor: pointer;
}

.ham{
    height: 2px;
    width: 40px;
    background-color: aliceblue;
    transition: all 0.5s;
}

.activeham .ham:nth-child(1){
     transform: rotate(45deg);
     position: relative;
     top: 8px;
}

.activeham .ham:nth-child(2){
    opacity: 0%;
}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}

.mobilemenu{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: rgba(29, 37, 44, 0.24);
    backdrop-filter:blur(7px);
    right: 0%;
    transform: translateX(100%);
    flex-direction: column;
    transition: all 0.5s;
    gap: 30px;

}


.activemobile{
    
  transform: translateX(0%);
}

@media screen and  (max-width:750px) {
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display:flex;
    }
    nav  ul{
        color: rgba(215, 42, 42, 0.728);
        font-size: 30px;
    }
}
